#!/bin/zsh
#
# .aliases - Set whatever shell aliases you want.
#

# mask built-ins with better defaults
alias vi=vim
alias vim="nvim"
alias helix="hx"

# more ways to ls
alias ll='ls -lh'
alias la='ls -lAh'
alias ldot='ls -ld .*'

# tar
alias tarls="tar -tvf"
alias untar="tar -xf"

# url encode/decode
alias urldecode='python3 -c "import sys, urllib.parse as ul; \
    print(ul.unquote_plus(sys.argv[1]))"'
alias urlencode='python3 -c "import sys, urllib.parse as ul; \
    print (ul.quote_plus(sys.argv[1]))"'

# misc
alias please=sudo
alias zshrc='${EDITOR:-vim} "${ZDOTDIR:-$HOME}"/.zshrc'
alias zbench='for i in {1..10}; do /usr/bin/time zsh -lic exit; done'
alias zdot='cd ${ZDOTDIR:-~}'


# -----------------------------------------

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto'
  # alias dir='dir --color=auto'
  # alias vdir='vdir --color=auto'

  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='lsd -lF' # long format
alias la='lsd -A' # all, including hidden
alias lla='lsd -al' # long list
alias l='lsd -F -1' # one column simple
alias lst='lsd --tree' # tree
alias lls='lsd -AlFbhv --color=always | less -XER'

# lls() {
#   /bin/ls -AlFbhv --color=always "$@" | less -XER
# }

# alert will send a desktop notification when command ends.
# input will be used to set notification text
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'


alias tip='tips'
alias f='formatter'
alias wp="cd ~/workspace"
alias notes="code ~/notes"
alias lenny='echo -n "( ͡° ͜ʖ ͡°)" | xsel --clipboard'
alias shrug='echo -n "¯\_(ツ)_/¯" | xsel --clipboard'
alias rot13="tr 'A-Za-z' 'N-ZA-Mn-za-m'"
alias o='xdg-open'

alias preview="fzf --preview 'bat --color \"always\" {}'"

alias gentmp='date +tmp+%Y%m%d%H%M%S'
alias genpwd='cat /dev/urandom | tr -cd "3-9A-HJ-NP-Z" | head -c 32'

# alias to manage dotfiles.
alias dotfiles="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"


# alias to manage dotfiles.
alias lazydotfiles="lazygit --git-dir=$HOME/.dotfiles --work-tree=$HOME"

#
# flatpaks
# aliases generated and hand-picked with flatpak-print-aliases, see functions.zsh
alias rnote="flatpak run com.github.flxzt.rnote"
alias foliate="flatpak run com.github.johnfactotum.Foliate"
alias heroic="flatpak run com.heroicgameslauncher.hgl"
alias mpv="flatpak run io.mpv.Mpv"
alias blockbench="flatpak run net.blockbench.Blockbench"
alias audacity="flatpak run org.audacityteam.Audacity"
alias blender="flatpak run org.blender.Blender"
alias flameshot="flatpak run org.flameshot.Flameshot"
alias gnome-builder="flatpak run org.gnome.Builder"
alias video-trimmer="flatpak run org.gnome.gitlab.YaLTeR.VideoTrimmer"
alias gnome-network-displays="flatpak run org.gnome.NetworkDisplays"
alias godot="flatpak run org.godotengine.GodotSharp"
alias musescore="flatpak run org.musescore.MuseScore"
alias qpwgraph="flatpak run org.rncbc.qpwgraph"
alias tor="flatpak run org.torproject.torbrowser-launcher"
alias openfreebuds="flatpak run pw.mmk.OpenFreebuds"


# alias man=better_man #'if (( $(tput cols) <= 130 )); then MANWIDTH=$( (( $(tput cols) <= 130 )) && echo $(tput cols) || echo 120) man'
