[user]
	email = 5300963+T3sT3ro@users.noreply.github.com
	name = Tooster
[alias]
	dog = log --decorate --oneline --graph
    adog = dog --all
    ddog = log --graph --pretty=format:'%C(auto)%h%Creset %Cgreen%<(22)%cr%Creset - %s %C(dim italic yellow)<%an>%Creset %C(auto)%d%Creset' --abbrev-commit
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	seppuku = "!f(){ BNAME=$(git branch-name); git reset --hard origin/${BNAME}; }; f;"
    publish = "!git push -u origin $(git branch-name)"
    fixup="commit --amend --no-edit"
    reword="commit --amend -m"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "unity"]
	trustExitCode = false
	cmd = /home/tooster/Unity/Hub/Editor/2018.4.8f1/Editor/Data/Tools/UnityYAMLMerge merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
[mergetool "meld"]
	trustExitCode = false
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
	

